## 1-First Imported Needed Libraries

In [1]:
import itertools
import pandas as pd
import tensorflow as tf

## 2- Definition Features Names & Output Column Names

In [2]:
COLUMNS = ["crim", "zn", "indus", "nox", "rm", "age","dis", "tax", "ptratio", "medv"]
FEATURES = ["crim", "zn", "indus", "nox", "rm","age", "dis", "tax", "ptratio"]
LABEL = "medv"

## 3-Create Input Function

In [3]:
def get_input_fn(data_set, num_epochs=None, shuffle=True):
  return tf.compat.v1.estimator.inputs.pandas_input_fn(
      x=pd.DataFrame({k: data_set[k].values for k in FEATURES}),
      y=pd.Series(data_set[LABEL].values),
      num_epochs=num_epochs,
      shuffle=shuffle)

## 4- Reading Training - Test - Predictions Data
## 4.1-Splitting Data (Training & Test ) && Create Predictions &Display Data

In [4]:
training_set = pd.read_csv("boston_train.csv", skipinitialspace=True, skiprows=1, names=COLUMNS)
test_set = pd.read_csv("boston_test.csv", skipinitialspace=True, skiprows=1, names=COLUMNS)
prediction_set = pd.read_csv("boston_predict.csv", skipinitialspace=True, skiprows=1, names=COLUMNS)
training_set.head()

       crim    zn  indus    nox     rm   age     dis  tax  ptratio  medv
0   2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1  13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2   0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3   0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4   0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6

# 5-Make Processing Numeric Data && Create Model 
# 5.1- Make Training For Model 5000 Iterations
# 5.2- Create Evluation For Model 
# 5.3 - Know Los Data & Know Model Score

In [6]:
feature_cols = [tf.feature_column.numeric_column(k) for k in FEATURES]
regressor = tf.compat.v1.estimator.DNNRegressor(feature_columns=feature_cols, hidden_units=[10, 10])
regressor.train(input_fn=get_input_fn(training_set), steps=5000)
ev = regressor.evaluate(input_fn=get_input_fn(test_set, num_epochs=1, shuffle=False))
loss_score = ev["loss"]
print("Loss: {0:f}".format(loss_score))

WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpyhwi3wvj
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/training/training_util.py:396: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_queue_runner.py:60: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_functions.py:491: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/training/adagrad.py:138: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/training/monitored_session.py:910: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 15 vs previous value: 15. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 238 vs previous value: 238. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 240 vs previous value: 240. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 242 vs previous value: 242. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 245 vs previous value: 245. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.

Loss: 1175.286499

# 6-Finally Known Predictions Values

In [7]:
y = regressor.predict(input_fn=get_input_fn(prediction_set, num_epochs=1, shuffle=False))
predictions = list(p["predictions"] for p in itertools.islice(y, 6))
print("Predictions: {}".format(str(predictions)))

Predictions: [array([35.15014], dtype=float32), array([19.309624], dtype=float32), array([22.903675], dtype=float32), array([36.25517], dtype=float32), array([14.0999775], dtype=float32), array([18.77526], dtype=float32)]