## 1 - First Imported Needed Libraries

In [1]:
import pandas as pd  
import tensorflow as tf  
from sklearn import datasets
import itertools

## 2 - Reading Data & Show Rows

In [2]:
COLUMNS = ["crim", "zn", "indus", "nox", "rm", "age","dis", "tax", "ptratio", "medv"]
training_set = pd.read_csv("boston_train.csv", skipinitialspace=True,skiprows=1, names=COLUMNS)
test_set = pd.read_csv("boston_test.csv", skipinitialspace=True,skiprows=1, names=COLUMNS)
prediction_set = pd.read_csv("boston_predict.csv", skipinitialspace=True,skiprows=1, names=COLUMNS)

print(training_set.shape, test_set.shape, prediction_set.shape)	

training_set.head()

(400, 10) (100, 10) (6, 10)

       crim    zn  indus    nox     rm   age     dis  tax  ptratio  medv
0   2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1  13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2   0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3   0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4   0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6

## 3 - Features Columns

In [4]:
FEATURES = ["crim", "zn", "indus", "nox", "rm","age", "dis", "tax", "ptratio"]
LABEL = "medv"
feature_cols = [tf.feature_column.numeric_column(k) for k in FEATURES]
#=========================================================================================
#Create Estimator (Object)
estimator = tf.estimator.LinearRegressor(feature_columns=feature_cols,model_dir="train")

## 4- Create Input Function

In [9]:
def get_input_fn(data_set, num_epochs=None, n_batch = 128, shuffle=True):    
         return tf.compat.v1.estimator.inputs.pandas_input_fn(       
         x=pd.DataFrame({k: data_set[k].values for k in FEATURES}),       
         y = pd.Series(data_set[LABEL].values),       
         batch_size=n_batch,          
         num_epochs=num_epochs,       
         shuffle=shuffle)

## 5- Make Training 1000 Iterations

In [10]:
estimator.train(input_fn=get_input_fn(training_set,num_epochs=None,n_batch = 128,shuffle=False),steps=1000)

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/training/training_util.py:396: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_queue_runner.py:60: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_functions.py:491: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/ftrl.py:173: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/training/monitored_session.py:910: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.

##  6  - Make Evaluate 
## 6.1 - And Known The Value Of Loss Data
## 6.2 - And Display Describe Output Data MEDV

In [16]:
ev = estimator.evaluate(input_fn=get_input_fn(test_set,num_epochs=5,n_batch = 128,shuffle=False))
print('The Value Of Evaluate Is ==> ',ev)
print('===='*50)
loss_score = ev["loss"]
print("The Loss Data is ==> {0:f}".format(loss_score))	
print('===='*50)
print('\t\t The Describe Of MEDV Data Are \n',training_set['medv'].describe())

The Value Of Evaluate Is ==>  {'average_loss': 32.158955, 'label/mean': 22.08, 'loss': 32.101772, 'prediction/mean': 22.404535, 'global_step': 1000}
========================================================================================================================================================================================================
The Loss Data is ==> 32.101772
========================================================================================================================================================================================================
		 The Describe Of MEDV Data Are
 count    400.000000
mean      22.625500
std        9.572593
min        5.000000
25%       16.600000
50%       21.400000
75%       25.025000
max       50.000000
Name: medv, dtype: float64

## 7 - Make Predictions Values

In [17]:
y = estimator.predict(input_fn=get_input_fn(prediction_set,num_epochs=1,n_batch = 128,shuffle=False))
predictions = list(p["predictions"] for p in itertools.islice(y, 6))
print("Predictions: {}".format(str(predictions)))

Predictions: [array([32.29755], dtype=float32), array([18.961252], dtype=float32), array([27.270979], dtype=float32), array([29.29924], dtype=float32), array([16.436682], dtype=float32), array([21.460876], dtype=float32)]